=fonts

  // ----------------------------------------------------------------------------
  // Inter UI
  @font-face
    font-family: 'Inter UI'
    font-style:  normal
    font-weight: 200
    src: url("../fonts/Inter/Inter-UI-ExtraLight-BETA.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-ExtraLight-BETA.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  italic
    font-weight: 200
    src: url("../fonts/Inter/Inter-UI-ExtraLightItalic-BETA.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-ExtraLightItalic-BETA.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  normal
    font-weight: 300
    src: url("../fonts/Inter/Inter-UI-Light-BETA.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-Light-BETA.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  italic
    font-weight: 300
    src: url("../fonts/Inter/Inter-UI-LightItalic-BETA.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-LightItalic-BETA.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  normal
    font-weight: 400
    src: url("../fonts/Inter/Inter-UI-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-Regular.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  italic
    font-weight: 400
    src: url("../fonts/Inter/Inter-UI-Italic.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-Italic.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  normal
    font-weight: 500
    src: url("../fonts/Inter/Inter-UI-Medium.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-Medium.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  italic
    font-weight: 500
    src: url("../fonts/Inter/Inter-UI-MediumItalic.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-MediumItalic.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  normal
    font-weight: 600
    src: url("../fonts/Inter/Inter-UI-SemiBold.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-SemiBold.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  italic
    font-weight: 600
    src: url("../fonts/Inter/Inter-UI-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-SemiBoldItalic.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  normal
    font-weight: 700
    src: url("../fonts/Inter/Inter-UI-Bold.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-Bold.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  italic
    font-weight: 700
    src: url("../fonts/Inter/Inter-UI-BoldItalic.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-BoldItalic.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  normal
    font-weight: 800
    src: url("../fonts/Inter/Inter-UI-ExtraBold.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-ExtraBold.woff") format("woff")

  @font-face
    font-family: 'Inter UI'
    font-style:  italic
    font-weight: 800
    src: url("../fonts/Inter/Inter-UI-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Inter/Inter-UI-ExtraBoldItalic.woff") format("woff")

  // Variable kerning
  @font-face 
    font-family: 'Inter var'
    font-style: normal
    src: url("../fonts/Inter/Inter-UI-upright.var.woff2?v=3.3") format("woff2")
  
  @font-face 
    font-family: 'Inter var'
    font-style: italic
    src: url("../fonts/Inter/Inter-UI-italic.var.woff2?v=3.3") format("woff2")