@import variables

=w_shadow($size, $color: $shadowColor, $x: 0, $inset: false, $scale: 1)
  @if $scale == 1
    $scale: 0

  $scale: $scale * $size
  $y: ($size / 10) + 1

  @if $inset
    box-shadow: inset $x $y $size $scale $color
  @else
    box-shadow: $x $y $size $scale $color

=w_text_shadow($size, $color: $shadowColor, $x: 0)
  $y: ($size / 10) + 1
  box-shadow: $x $y $size $color

=w_depth($depth: 0)
  z-index: $depth

=w_border($color: $borderColor, $thickness: 1px, $style: solid)
  border: $thickness $style $color

=w_transition($duration: .15s, $delay: 0s, $easing: ease-in-out, $props: all)
  transition: $props $duration $easing $delay