@import minireset
@import fonts
@import helpers
@import mixins
@import variables

@if $fontsModule
  +fonts

*
  box-sizing: border-box

html, body
  display: block
  height: 100%
  margin: 0
  width: 100%

body
  color: $darkColor
  font-family: $fontFamily
  font-size: $baseFontSize
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

button, input, select
  font-family: $fontFamily

@supports(font-variation-settings: normal)
  body, button, input, select
    font-family: $fontFamilyVar

button:focus
  outline: none // Chrome fix blue glow

::-moz-focus-inner
  border: 0 // Firefox dotted outline fix

p
  line-height: $baseLineHeight
  margin-top: $paragraphMargin
  margin-bottom: $paragraphMargin
  @extend .w-text-normal

@import components