@import ../variables
@import ../mixins

.w-box
  max-width: $screenXl
  width: 100%
  @extend .w-mar-center, .w-rel
  @extend .is-flex

  &.is-full
    max-width: none
    @extend .w-no-mar-left, .w-no-mar-right

  &.is-fluid
    max-width: none
    @extend .w-pad-left-large, .w-pad-right-large, .w-no-mar

  .w-box-inner
    width: 100%