@import ../variables

$display: (hidden, none), (inline, inline), (iblock, inline-block), (block, block), (flex, flex), (iflex, inline-flex), (grid, grid), (igrid, inline-grid), (table, table) !default
$positions: (rel, relative), (abs, absolute), (static, static), (fix, fixed), (sticky, sticky) !default
$floating: (start, left), (end, right) !default
$clearing: (start, left), (end, right) !default

$spacing: (space-between, space-between), (space-around, space-around), (space-evenly, space-evenly) !default
$horizontal: (start, flex-start), (middle, center), (end, flex-end) !default
$vertical: (top, flex-start), (middle, center), (bottom, flex-end), (stretch, stretch) !default
$direction: (row, row), (row-rev, row-reverse), (column, column), (column-rev, column-reverse) !default

$pinning: (top, top), (start, left), (end, right), (bottom, bottom)
$visibility: (visible, visible), (invisible, hidden)

// Justify content
$justifyList: join($spacing, $horizontal)

@each $className, $propertyValue in $justifyList
  .w-justify-#{$className}
    justify-content: $propertyValue

@if $justifyResponsive
  @each $modifier, $minWidth in $screenModifiers
    @media(min-width: $minWidth)
      @each $className, $propertyValue in $justifyList
        .w-#{$modifier}-justify-#{$className}
          justify-content: $propertyValue

// Row content alignment
@each $className, $propertyValue in $vertical
  .w-align-#{$className}
    align-content: $propertyValue
    align-items: $propertyValue

@each $className, $propertyValue in $spacing
  .w-align-#{$className}
    align-content: $propertyValue

@each $className, $propertyValue in $vertical
  .w-self-#{$className}
    align-self: $propertyValue

@if $alignResponsive
  @each $modifier, $minWidth in $screenModifiers
    @media(min-width: $minWidth)
      @each $className, $propertyValue in $vertical
        .w-#{$modifier}-align-#{$className}
          align-content: $propertyValue
          align-items: $propertyValue

      @each $className, $propertyValue in $spacing
        .w-#{$modifier}-align-#{$className}
          align-content: $propertyValue

      @each $className, $propertyValue in $vertical
        .w-#{$modifier}-self-#{$className}
          align-self: $propertyValue

// Row items direction
@each $className, $propertyValue in $direction
  .w-direction-#{$className}
    flex-direction: $propertyValue

@if $directionResponsive
  @each $modifier, $minWidth in $screenModifiers
    @media(min-width: $minWidth)
      @each $className, $propertyValue in $direction
        .w-#{$modifier}-direction-#{$className}
          flex-direction: $propertyValue

// Display
@each $className, $propertyValue in $display
  .is-#{$className}
    display: $propertyValue

@each $className, $propertyValue in $visibility
  .is-#{$className}
    visibility: $propertyValue

@if $displayResponsive
  @each $modifier, $minWidth in $screenModifiers
    @media(min-width: $minWidth)
      @each $className, $propertyValue in $display
        .#{$modifier}-is-#{$className}
          display: $propertyValue

      @each $className, $propertyValue in $visibility
        .#{$modifier}-is-#{$className}
          visibility: $propertyValue

// Positioning
@each $className, $propertyValue in $positions
  .w-#{$className}
    position: $propertyValue

@each $className, $propertyValue in $pinning
  .w-pin-#{$className}
    #{$propertyValue}: 0
    @extend .w-abs

// Floating
.w-sink
  float: none

@each $className, $propertyValue in $floating
  .w-#{$className}
    float: $propertyValue

@if $floatingResponsive
  @each $modifier, $minWidth in $screenModifiers
    @media(min-width: $minWidth)
      .w-#{$modifier}-sink
        float: none

      @each $className, $propertyValue in $floating
        .w-#{$modifier}-#{$className}
          float: $propertyValue

// Clearing
.w-clear
  clear: both

@each $className, $propertyValue in $clearing
  .w-clear-#{$className}
    clear: $propertyValue

.w-clearfix:after
  @extend .w-clear, .is-table
  content: ''

// Flex wrapping
.w-flex-wrap
  flex-wrap: wrap

.w-flex-nowrap
  flex-wrap: nowrap

// Width
.is-full
  width: 100%

.is-half
  width: 50%