@import ../variables

$overflows: (hidden, hidden), (visible, visible), (scroll, scroll) !default

=overflowModule

  .w-truncate
    text-overflow: ellipsis
    white-space: nowrap
    @extend .w-overflow-hidden

  @each $className, $propertyValue in $overflows
    .w-overflow-#{$className}
      overflow: $propertyValue

  @if $overflowResponsive
    @each $modifier, $minWidth in $screenModifiers
      @media(min-width: $minWidth)
        .w-#{$modifier}-truncate
          text-overflow: ellipsis
          white-space: nowrap
          @extend .w-#{$modifier}-overflow-hidden

        @each $className, $propertyValue in $overflows
          .w-#{$modifier}-overflow-#{$className}
            overflow: $propertyValue