@import ../variables

// Box shadow
.w-shadow
  box-shadow: 0 $shadowOffset $normalShadow $shadowColor

@each $className, $propertyValue in $shadowList
  @if $className != 'normal'
    .w-shadow-#{$className}
      box-shadow: 0 $shadowOffset $propertyValue $shadowColor

// Text shadow
.w-text-shadow
  text-shadow: $textShadowOffset $shadowOffset ($normalShadow / 2) $textShadowColor

@each $className, $propertyValue in $shadowList
  @if $className != 'normal'
    .w-text-shadow-#{$className}
      text-shadow: $textShadowOffset $shadowOffset ($propertyValue / 2) $textShadowColor
