@import ../variables

$sides: left, top, bottom, right !default

// Padding
.w-pad
  padding: $normalSpacing

@each $side in $sides
  .w-pad-#{$side}
    padding-#{$side}: $normalSpacing

@each $className, $propertyValue in $spacingList
  @if $className != 'normal'
    .w-pad-#{$className}
      padding: $propertyValue

    @each $side in $sides
      .w-pad-#{$side}-#{$className}
        padding-#{$side}: $propertyValue

.w-no-pad
  padding: 0

@each $side in $sides
  .w-no-pad-#{$side}
    padding-#{$side}: 0

@if $paddingResponsive
  @each $modifier, $minWidth in $screenModifiers
    @media(min-width: $minWidth)
      .w-#{$modifier}-pad
        padding: $normalSpacing

      @each $side in $sides
        .w-#{$modifier}-pad-#{$side}
          padding-#{$side}: $normalSpacing

      @each $className, $propertyValue in $spacingList
        @if $className != 'normal'
          .w-#{$modifier}-pad-#{$className}
            padding: $propertyValue

          @each $side in $sides
            .w-#{$modifier}-pad-#{$side}-#{$className}
              padding-#{$side}: $propertyValue

      .w-#{$modifier}-no-pad
        padding: 0

      @each $side in $sides
        .w-#{$modifier}-no-pad-#{$side}
          padding-#{$side}: 0

// Margin
.w-mar
  margin: $normalSpacing

@each $side in $sides
  .w-mar-#{$side}
    margin-#{$side}: $normalSpacing

.w-mar-auto
  margin: auto

.w-mar-center
  margin-left: auto
  margin-right: auto

@each $side in $sides
  .w-mar-#{$side}-auto
    margin-#{$side}: auto

@each $className, $propertyValue in $spacingList
  @if $className != 'normal'
    .w-mar-#{$className}
      margin: $propertyValue

    @each $side in $sides
      .w-mar-#{$side}-#{$className}
        margin-#{$side}: $propertyValue

.w-no-mar
  margin: 0

@each $side in $sides
  .w-no-mar-#{$side}
    margin-#{$side}: 0

@if $marginResponsive
  @each $modifier, $minWidth in $screenModifiers
    @media(min-width: $minWidth)
      .w-mar-#{$modifier}
        margin: $normalSpacing

      @each $side in $sides
        .w-#{$modifier}-mar-#{$side}
          margin-#{$side}: $normalSpacing

      .w-mar-auto-#{$modifier}
        margin: auto

      .w-mar-center-#{$modifier}
        margin-left: auto
        margin-right: auto

      @each $side in $sides
        .w-#{$modifier}-mar-#{$side}-auto
          margin-#{$side}: auto

      @each $className, $propertyValue in $spacingList
        @if $className != 'normal'
          .w-#{$modifier}-mar-#{$className}
            margin: $propertyValue

          @each $side in $sides
            .w-#{$modifier}-mar-#{$side}-#{$className}
              margin-#{$side}: $propertyValue

      .w-no-mar-#{$modifier}
        margin: 0

      @each $side in $sides
        .w-#{$modifier}-no-mar-#{$side}
          margin-#{$side}: 0