@import ../variables

$fontWeight: (thin, 200), (lean, 300), (normal, 400), (medium, 500), (bold, 600), (border, 700), (black, 800) !default
$alignment: (left, left), (center, center), (right, right), (justify, justify) !default
$headings: ($h1Size, $h1Weight, $h1Spacing), ($h2Size, $h2Weight, $h2Spacing), ($h3Size, $h3Weight, $h3Spacing), ($h4Size, $h4Weight, $h4Spacing), ($h5Size, $h5Weight, $h5Spacing), ($h6Size, $h6Weight, $h6Spacing) !default
$styles: (italic, font-style, italic), (underline, text-decoration, underline), (strike, text-decoration, line-through) !default
$transformations: (upper, uppercase), (capital, capitalize), (lower, lowercase)
$whitespace: (normal, normal), (pre, pre), (pre-line, pre-line), (pre-wrap, pre-wrap)

// Headings
@for $i from 1 through length($headings)
  $heading: nth($headings, $i)
  .is-h#{$i}
    @extend .is-iblock
    font-size: nth($heading, 1)
    font-weight: nth($heading, 2)
    letter-spacing: nth($heading, 3)
    line-height: $headingLineHeight
    margin-top: $headingMarginTop
    margin-bottom: $headingMarginBottom

@for $i from 1 through 5
  .is-h#{$i} + .is-h#{$i + 1}, .is-h#{$i} + * > .is-h#{$i + 1}:first-child
    margin-top: $headingMarginBottom

// Font styles
@each $className, $propertyValue in $fontWeight
  .w-font-#{$className}
    font-weight: $propertyValue

@each $className, $propertyValue in $alignment
  .w-text-#{$className}
    text-align: $propertyValue

// Text size
@each $className, $propertyValue in $fontsList
  .w-text-#{$className}
    font-size: $propertyValue

=w_text_size($size: normal)
  font-size: nth($fontValues, index($fontSizes, $size))

// Colors
@each $className, $propertyValue in $colorsList
  .is-text-#{$className}
    color: $propertyValue

// Styles
@each $className, $property, $propertyValue in $styles
  .is-#{$className}
    #{$property}: $propertyValue

// Transformations
@each $className, $propertyValue in $transformations
  .is-#{$className}
    text-transform: $propertyValue

// Whitespace
.w-nowrap
  white-space: nowrap

@each $className, $propertyValue in $whitespace
  .w-whitespace-#{$className}
    white-space: $propertyValue