<template lang="pug">

    component(:is="tag", :class="cClasses", :style="cStyles")
        div.w-box-inner(:style="contentStyles")
            slot

</template>

<script>

    import d from '../../helpers/defaults'
    import Generator from '../../super-components/Generator'

    const Parent = new Generator();
    Parent.setNamespace('box');

    export default {
        extends: Parent.generate(),
        name: 'WBox',
        props: {
            full: { // Full width container without margin or padding
                type: Boolean,
                default: d.box.full
            },
            fluid: { // Fluid - always full width container with small side padding
                type: Boolean,
                default: d.box.fluid
            }
        },
        data() {
            return {
                contentStyles: {},
                negativeMargin: 0,
                classDefs: {
                    'is-full': {
                        prop: 'full',
                        group: 'box.full',
                        toggle: 'full'
                    },
                    'is-fluid': {
                        prop: 'fluid',
                        group: 'box.fluid',
                        toggle: 'fluid'
                    }
                }
            };
        },
        created() {
            this.$on('set-negative-margin', this.wSetNegativeMargin);
        },
        mounted() {
            this.wContentStyles();
        },
        methods: {
            wSetNegativeMargin(value) {
                this.negativeMargin = value;
            },
            wContentStyles() {

                if(+this.negativeMargin === 0) {
                    return false;
                }

                this.contentStyles = {
                    margin: -this.negativeMargin + 'px'
                };

            }
        },
        watch: {
            negativeMargin() {
                this.wContentStyles();
            }
        },
        destroyed() {
            this.$off('set-negative-margin', this.wSetNegativeMargin);
        }
    }

</script>